#one    { grid-area: '1'; border-top: none; border-left: none;  }
#four   { grid-area: '4'; border-top: none; border-left: none;  }
#three  { grid-area: '3'; border-top: none; border-right: none; }
#six    { grid-area: '6'; border-top: none; border-right: none; }
#two    { grid-area: '2'; border-top: none; border-left: none;  border-right: none; }
#five   { grid-area: '5'; border-top: none; border-left: none;  border-right: none;}
#seven  { grid-area: '7'; border-top: none; border-left: none; border-bottom: none; }
#nine   { grid-area: '9'; border-top: none; border-right: none; border-bottom: none;}
#eight  { grid-area: '8'; border: none;}


#app {
    height: 300px;
    width: 300px;
    margin: auto;

    text-align: center;
    color: grey;
}

.board {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    
    border: 1px solid silver;
    box-shadow: 2px 2px 5px silver;

    display: grid;
    grid-template-areas: 
        '1 2 3'
        '4 5 6'
        '7 8 9';
}

.cell { 
    border: 1px dotted silver;

    display: flex;
    justify-content: center;
    align-items: center;


    min-height: 100px;
    min-width: 100px;
}

.cell:hover {
    background-color: #EEE;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

h4 > span {
    color: orange;
}

h3 {
    font-size: 0.8rem;
    color: lime;
    font-family: 'Courier New', Courier, monospace
}